[submodule "external/boost-cmake"]
	path = external/boost-cmake
	url = https://github.com/Orphis/boost-cmake.git
[submodule "external/glew"]
	path = external/glew
	url = https://github.com/nigels-com/glew.git
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm.git
[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "external/bullet3"]
	path = external/bullet3
	url = https://github.com/bulletphysics/bullet3.git
[submodule "external/glew-cmake"]
	path = external/glew-cmake
	url = https://github.com/Perlmint/glew-cmake.git
[submodule "include/imgui"]
	path = include/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "include/tinyobjloader"]
	path = include/tinyobjloader
	url = https://github.com/syoyo/tinyobjloader.git
